* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans Extrabold", sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.wrapper {
    width: 425px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 262px;
    background-image: url("../img/header_425.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_logo {
    width: 112px;
    height: 105px;
    margin: 6px 10px 0 0;
    background-image: url("../img/logo_425.png");
}

.menu_button {
    display: inline-block;
    width: 37px;
    height: 28px;
    margin: 0 46px 3px 0;
    background: transparent url("../img/menu_small.png") no-repeat center top;
    cursor: pointer;
    border: 0;
}

.menu_button:focus {
       outline: none;
       border-radius: 5px;
}

.menu_items_container {
    width: 100%;
}

.menu_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu_item {
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #63747b;
    border-bottom: 1px solid #a7bac1 ;
}

.menu_item:first-child {
    border-top: 1px solid #a7bac1 ;
}

.menu_item:hover {
    background-color: #9fb6c0;
    cursor: pointer;
}

.section_shipping_fees_title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.form_shipping_fees {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px 0 25px 0;
    background-color: rgb(241 249 251)
}

.shipping_or {
    text-align: center;
}

.shipping_or::before, .shipping_or::after {
    content: '|';
    color: darkorange;
}

.form_shipping_fees label {
    text-align: center;
    font-size: 18px;
    color: #0b536f;
}

.form_shipping_fees input:nth-child(2) {
    margin: 5px 0;
}

.form_shipping_fees select, input {
    margin: 5px 0 25px 0;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid #63747b;
    box-sizing: border-box;
}

.form_shipping_fees select:focus {
    border: 2px solid #62abcc;
    outline: none;
}

.form_shipping_fees option {
    padding: 0 10px 0 10px;
}

.section_shipping_fees {
    display: flex;
    flex-direction: column;
}

.shipping_button {
    width: 300px;
    height: 55px;
    margin-top: 20px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #2e507d;
    border: 3px solid #7e9dc5;
    border-radius: 27px;
}

.shipping_button:focus {
    outline: none;
}

.shipping_button:hover {
    background-color: #c3e8f9;
    color: #7e9dc5;
    cursor: pointer;
}

.section_shipping_result {
    font-size: 18px;
    line-height: 28px;
    padding: 15px 15px;
    background-color: #d5e3e8;
}

.section_shipping_result p span:nth-of-type(2), 
.section_shipping_result p span:last-child {
    font-weight: 800;
    margin-left: 10px;
}

.section_shipping_result p:last-child {
    font-weight: 800;
    border-top: 2px solid #000000;
    margin-top: 10px;
}

.section_shipping_result p span:nth-of-type(2)::after, 
.section_shipping_result p span:last-child::after {
    content: '$';
}

.footer {
    background-image: url("../img/footer_flag_425.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9));
}

.footer p {
    text-align: center;
    color: rgb(11 42 70);
    text-shadow: 0px 0px 2px white;
}

.footer_text_title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer_text {
    margin-bottom: 20px;
}

.footer_social_icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer_social_icons a:not(:last-child) {
    margin-right: 15px;
}

.footer_social_icons a {
    width: 65px;
    height: 65px;
    display: block;
    background-image: url("../img/social_media_icons.png");
    background-size: auto 100%;
}

.footer_social_whatsapp {
    background-position: 0px 0px;
}

.footer_social_instagramm {
    background-position: -64px 0px;
}

.footer_social_facebook {
    background-position: -195px 0px;
}

.footer a {
    color: #1b6b92;
    font-weight: 800;
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
}

.footer_copyrights {
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid #7d7d7d;
}

.footer_copyrights p {
    color: #7d7d7d;
    margin-top: 5px;
}

